<button class="btn btn-primary btn-circle" type="button" >
    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6 18.6104L16.79 10.8003L6 3" stroke="#025561" stroke-miterlimit="10"/>
        </svg>         
  </button>