body {
    font-family: $font-primary;
    color: $text-color;
    background-color: $bg-color;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 0;
 

}

 
.smooth-scroll {
    height: 100%;
    overflow: hidden;
 
  }

 

/* GRIT_SET text Color
   Note: Setting colors background as color-primary */
   @each $name, $value in $colors {
    .color-#{$name} {
        color: $value !important;
    }
}

/* GRIT_SET border Color
   Note: Setting colors background as border-primary */
@each $name, $value in $colors {
    .border-#{$name} {
        border-color: $value !important;
    }
}

/* GRIT_SET Background Color
   Note: Setting colors background as bg-primary */
@each $name, $value in $colors {
    .bg-#{$name} {
        background-color: $value !important;
    }
}

/* GRIT_SET half color
   Note: Setting colors half background */
@each $name, $value in $colors {
    .bg-#{$name}-half {
        background: $value;
        background: -moz-linear-gradient(0deg, $value 50%, $white 50%);
        background: -webkit-linear-gradient(0deg, $value 50%, $white 50%);
        background: linear-gradient(0deg, $value 50%, $white 50%);
    }
}



/* GRIT_SET container-fluid */
@media (min-width: 768px) {
    .contained {
        padding: 0 calc(140 / 1920 * 100vw);
    }
}

/* GRIT_SET equal cols  */
.row.equal-cols {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-wrap: wrap !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap;
}

.row.equal-cols:before,
.row.equal-cols:after {
    display: block;
}

.row.equal-cols>[class*='col-'] {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.row.equal-cols>[class*='col-']>* {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.row.equal-cols .tease {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}