body {
    font-family: $font-primary;
    color: $black;
    background-color: $white;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 0;

}



/* A_SETTINGS equal cols  */
.row.equal-cols {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-wrap: wrap !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap;
}

.row.equal-cols:before,
.row.equal-cols:after {
    display: block;
}

.row.equal-cols>[class*='col-'] {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.row.equal-cols>[class*='col-']>* {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.row.equal-cols .tease {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}