/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* :::::::::::::: 01 * GRIT_SET owl-carousel */ 
/* :::::::::::::: 02 * GRIT_SET animate */ 
/* :::::::::::::: 03 * GRIT_SET jarallax */ 
/* :::::::::::::: 04 * GRIT_SET lenis.js */ 
/* :::::::::::::: 05 * GRIT_SET loader */ 
/* :::::::::::::: 06 * GRIT_SET gototop */ 
/* :::::::::::::: 07 * GRIT_SET magic-mouse-js */ 
/* :::::::::::::: 08 * GRIT_SET progress-js */ 
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

/* :::::::::::::: 01 * GRIT_SET owl-carousel */ 
section {
  
  &.contained {
    .owl-carousel { 
      @media (min-width: $sm-res) {
        .owl-nav {
          button.owl-prev {
            left: -40px;
          } 
          button.owl-next {
            right: -40px;
          }
        }
      }
    }  
  } 
  &.carousel-left {
    @media (min-width: $sm-res) { 
      padding-left:  calc(($c-gap) / $xxl * 100vw); 
    }
  }
  &.owl-dots-inner {
    .owl-carousel {
      .owl-dots {
        bottom: 20px;
      }
    } 
  }

  
  &.owl-nav-top-left {
    .owl-carousel {
      .owl-nav {  
        position: absolute;
        top: -50px;
        left: 0;
        margin-left: 0px;
        padding-left: calc(($c-gap) / $xxl * 100vw); 
        width: auto;
        transform: translateY(-50%);
        display: flex;
        pointer-events: none;
        z-index: 1;
        justify-content: center;
        button.owl-prev,
        button.owl-next { 
          left: 0;
          right: 0; 
        }
      }
    }
    &.carousel-left {
      .owl-carousel {
          .owl-nav {
            padding-left: 0px;
          }
      }
    }
  }
  &.contained.gallery_carousel.owl-nav-top-left {
    .owl-nav {
      padding-left: 0px;
    }
  }
  
  &.owl-nav-bottom-left {
    .owl-carousel {
      .owl-nav {  
        position: absolute;
        bottom: -50px;
        left: 0;
        margin-left: 0px;
        padding-left: calc(($c-gap) / $xxl * 100vw); 
        width: auto;
        transform: translateY(50%);
        display: flex;
        pointer-events: none;
        z-index: 1;
        justify-content: center;
        button.owl-prev,
        button.owl-next { 
          left: 0;
          right: 0; 
        }
      }
    }
    &.carousel-left {
      .owl-carousel {
          .owl-nav {
            padding-left: 0px;
          }
      }
    }
  }
  &.contained.gallery_carousel.owl-nav-bottom-left {
    .owl-nav {
      padding-left: 0px;
    }
  }

  &.owl-nav-top-right {
    .owl-carousel {
      .owl-nav {  
        position: absolute;
        top: -50px;
        right: 0;
        margin-right: 0px;
        padding-right: calc(($c-gap) / $xxl * 100vw); 
        width: auto;
        transform: translateY(-50%);
        display: flex;
        pointer-events: none;
        z-index: 1;
        justify-content: center;
        button.owl-prev,
        button.owl-next { 
          left: 0;
          right: 0; 
        }
      }
    }
  }
  &.contained.gallery_carousel.owl-nav-top-right {
    .owl-nav {
      padding-right: 0px;
    }
  }
  
  &.owl-nav-bottom-right {
    .owl-carousel {
      .owl-nav {  
        position: absolute;
        bottom: -50px;
        right: 0;
        margin-right: 0px;
        padding-right: calc(($c-gap) / $xxl * 100vw); 
        width: auto;
        transform: translateY(50%);
        display: flex;
        pointer-events: none;
        z-index: 1;
        justify-content: center;
        button.owl-prev,
        button.owl-next { 
          left: 0;
          right: 0; 
        }
      }
    }
  } 
  &.contained.gallery_carousel.owl-nav-bottom-right {
    .owl-nav {
      padding-right: 0px;
    }
  }
  
  .owl-carousel {  
    .owl-dots {
      width: auto;
      position: absolute; 
      text-align: center;
      
      margin: 0 auto; 
      
      bottom: -30px;
      left: 0;
      right: 0;
      
      button.owl-dot {
        width: 15px;
        height: 15px;
        
        margin: 0.3rem;
        border-radius: 50%;

        border: solid 1px $dark;
        background-color: $light;
        
        &.active {
          border: solid 1px $light;
          background-color: $dark;
          
        }
      }
    } 
    
    .owl-nav {
      position: absolute;
      top: 50%;
      width: 100%;
      transform: translateY(-50%);
      display: flex;
      justify-content: space-between;
      pointer-events: none;
      z-index: 1;
      
      button.owl-prev,
      button.owl-next {
        text-align: center;
        z-index: 3;
        pointer-events: all;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 1; 
        @include transition(all 0.3s ease-in-out); 
        
        padding: 3px;
        margin: 0px 10px;
        border-radius: 25px;
        font-size: 22px; 
        
        .btn svg path {
          @include transition(all 0.3s ease-in-out);
          stroke: $light;
        }
        
        &:hover .btn svg path,
        &:active .btn svg path {
          stroke: $dark;
        } 
      }
      
      button.owl-prev .btn {
        rotate: 180deg;
      }
      
      button.owl-prev {
        left: 10px;
      }
      
      button.owl-next {
        right: 10px;
      }
      
      @media (max-width: $md-res) {
        button.owl-prev {
          left: 10px;
        }
        
        button.owl-next {
          right: 10px;
        }
      }
    } 
  }
}

/* :::::::::::::: 02 * GRIT_SET animate */ 
/* Note: This only changes this particular animation duration 
*/
.animate__animated.animate__bounce {
  --animate-duration: 2s;
}
/* This changes all the animations global */
:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
  scroll-behavior: smooth;
}
.hidden {
  opacity: 0;  
  visibility: hidden;   
}
.visible {
  opacity: 1;
  visibility: visible;
}


/* :::::::::::::: 03 * GRIT_SET jarallax */ 
.jarallax-keep-img {
  position: relative;
  z-index: 0; 
  > .jarallax-img {
    position: relative;
    display: block;
    max-width: 100%;
    height: auto;
    z-index: -100; // Assicura che l'immagine sia sotto altri elementi
  } 
}
.jarallax-overlay div[id*="jarallax-container"] div {
  background-blend-mode: overlay;
} 
.loaded .jarallax-keep-img.overlay-in:before {
  content: '';
  opacity: 0;
  left: 0;
  transition: 1s all ease-in-out;
  transition-delay: 0.9s;
  z-index: 10;
}
.jarallax-keep-img.overlay-in:before {
  content: '';
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: $dark;
  // background: linear-gradient(0deg, rgba(240,250,249,1) 0%, rgba(87,201,187,1) 100%);
  opacity: 1;
}


/* :::::::::::::: 04 * GRIT_SET lenis.js */ 
html.lenis {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}


/* :::::::::::::: 05 * GRIT_SET loader */ 
/* GRIT_SET loader
Note: impostazioni per modificare il loader Note: effetto al caricamento della pagina composto da logo sezioni e loader
Note: L'evento che fa avviare è la classe 'loaded' posizionato nel body
*/
#main-content {
  // filter: blur(13px);
  // -webkit-filter: blur(13px);
  // transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #main-content {
  // filter: unset;
  // -webkit-filter: unset;
}

header {
  // filter: blur(13px);
  // -webkit-filter: blur(13px);
  // transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded header {
  // filter: unset;
  // -webkit-filter: unset;
}

.preload {
  width: 100px;
  height: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
}

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 80;
}

/* loader mediu*/
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: $light;
  z-index: 83;
  animation: spin 2s linear infinite;
}

/* loader smal*/
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: $light;
  animation: spin 3s linear infinite;
}

/* loader bi*/
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  right: 15px;
  left: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: $light;
  animation: spin 1.5s linear infinite;
}

/* loader log*/
.logo-loader {
  transition: all 0.3s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: 82;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  opacity: 1;
  width: 100px;
  height: 100px;
}

/* loader section*/
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 50%;
  height: 100%;
  background: $white;
  z-index: 80;
  transform: translateX(0);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* loader sections direction*/
#loader-wrapper .loader-section.section-left {
  left: 0;
  opacity: 1;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
  opacity: 1;
}

@keyframes spin {
  0% {
    transform: rotate(-0deg);
    -webkit-transform: rotate(-0deg);
    -moz-transform: rotate(-0deg);
    -ms-transform: rotate(-0deg);
    -o-transform: rotate(-0deg);
  }
  
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

/* loader loaded effect exit */
.loaded #loader-wrapper .loader-section.section-left {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
  transform: translateY(-100%);
  transition: all 0.3s 1s ease-in-out;
}

.loaded .logo-loader {
  opacity: 0;
  width: 0px;
  height: 0px;
}

.loaded .loader-background {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  width: 0px;
}

.loader-background {
  opacity: 1;
  transition: all 0.3s ease-in-out;
  width: 100%;
  max-width: 1140px;
  height: 100vh;
  background: $dark;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  z-index: 82;
}

.inner-loader-background {}

.loaded .section-header {
  opacity: 1;
  transition: all 0.7s 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.section-header {
  opacity: 0;
  margin-top: unset;
}



.img-hover-inner {
  .inner-img {
      position: relative;
      overflow: hidden;

      img {
          @include transition(all 1.5s ease-in-out);
          transform: scale(1);
      }

      &:hover img {
          transform: scale(1.03);
      }

      &:before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          background: $grey;
          // background: linear-gradient(0deg, rgba(240,250,249,1) 0%, rgba(87,201,187,1) 100%);
          opacity: 1;
          z-index: 10;
          @include transition(all 0.5s ease-in-out);
      }
  }
}

.loaded .img-hover-inner .inner-img:before {
  opacity: 0;
  transition-delay: 1s;
}


/* :::::::::::::: 06 * GRIT_SET gototop */ 
#gototop-btn {
  display: none;
  position: fixed;
  width: 60px;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: $dark;
  color: $light;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
}

/* :::::::::::::: 07 * GRIT_SET magic-mouse-js */ 
body #magicMouseCursor {
  position: fixed;
  width: 35px;
  height: 35px;
  border: 1px solid $dark;
  border-radius: 50%;
  z-index: 9999;
  left: 0;
  top: 0;
  transition: transform 0.07s, width 0.3s, height 0.3s ease-in-out;
  pointer-events: none;
}

body #magicMouseCursor.cursor-square {
  border-radius: 0;
}

body #magicPointer {
  height: 8px;
  width: 8px;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 9999;
  background: $dark;
  border-radius: 50%;
  pointer-events: none;
  transition: background 0.2s, width 0.2s, height 0.2s, box-shadow 0.2s ease-in-out;
}

body #magicPointer.is-hover {
  height: 5px;
  width: 5px;
  top: 0;
  left: 0;
  position: fixed;
  background: $accent;
  border-radius: 50%;
  pointer-events: none;
  transition: background 0.2s, width 0.2s, height 0.2s, box-shadow 0.2s ease-in-out;
}

body #magicPointer.pointer-blur {
  height: 50px;
  width: 50px;
  background: none;
  border: 1px solid $accent;
  box-shadow: 0px 0px 15px -5px $accent;
}

body #magicPointer.pointer-overlay {
  height: 50px;
  width: 50px;
  mix-blend-mode: difference;
  background: $accent;
  box-shadow: 0px 0px 0px 0px $accent;
}

body .magic-hover {
  // @include transition(transform 1.3s ease-in-out);  
}

body .magic-hover:hover {
  cursor: auto;
}



 
/* :::::::::::::: 08 * GRIT_SET progress-js */ 
#nprogress .bar {
  background: $accent;
}

#nprogress .peg {
  box-shadow: 0 0 10px $accent, 0 0 5px $accent;
}

#nprogress .spinner-icon {
  border-top-color: $accent;
  border-left-color: $accent;
}