/* :::::::::::::: 00 * GRIT_SET section_page_header_1  */
.section_page_header { 
    padding: 0px !important;   
    .breadcrumb {
        /*
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          padding: 0.75rem 1rem;
          margin-bottom: 1rem;
          list-style: none;
          background-color: #e9ecef;
          border-radius: 0.25rem;
        */
        background-color: transparent;
        padding: 0.25rem 0rem;
        margin-bottom: 0rem;
        color: $light; 
        a {
            color: $light;
        } 
        a:hover {
            color: $accent;
        } 
        .breadcrumb_last {
            color: $accent;
        }
      }
    &.section_page_header_1 {
        background-color: $transparent!important ;
        padding: 0px !important; 
        .sub-header {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        } 
        .polygon {
            float: left;
            width: 100%;
            min-height: 30px;
            @include gradient-1(90deg, $gradient-colors-1);
            shape-outside: polygon(20px 0,
                    100% 0,
                    100% 100%,
                    0 100%);
            clip-path: polygon(20px 0,
                    100% 0,
                    100% 100%,
                    0 100%); 
            .breadcrumb {
                margin: 0px 30px;
                font-weight: normal;
                color: $light; 
                a {
                    color: $light;
                    @include transition(all 0.2s ease-in-out);
    
                    &:hover {
                        color: $accent;
                    }
                }
            }
        }
    }
    &.section_page_header_2 {
         
        padding: 0px !important; 
        .sub-header {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        } 
    }
    &.section_page_header_3 { 
        padding: 0px !important; 
        .sub-header { 
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            .container-fluid .row {
                min-height: 300px;
                @media (min-width: $md-res) { 
                    min-height: 500px; 
                }
            }
        } 
    }
    &.section_page_header_4 { 
        padding: 0px !important;  
        .sub-header {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        } 
    }
 
    &.section_page_header_5 { 

        padding: 0px !important; 
        .sub-header {
            position: absolute;
            width: 100%;
          
            z-index: 2;
            .container-fluid .row {
                min-height: 500px;
                @media (min-width: $md-res) { 
                    min-height: 700px; 
                }
            }
        }
        .carousel-header {
            z-index: unset;
            .item-header { 
                z-index: 0;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat; 
                min-height: 500px;
                    @media (min-width: $md-res) { 
                        min-height: 700px; 
                    }
            } 
            .owl-nav { 
                position: absolute;
                z-index: 2;
                top: auto;
                bottom: 35px;
                right: calc(($c-gap / 2 ) / ( $xxl / 2 ) * 100vw);
                width: 150px;
           
            }
        }
        
    }
    &.section_page_header_6 { 
        padding: 0px !important; 
        background-color: transparent;
        margin-bottom: 180px;
        .sub-header { 
            position: relative;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat; 
            min-height: 300px;
            @media (min-width: $md-res) { 
                min-height: 500px; 
            }
            .inner-header {
                bottom: -150px;
                overflow: hidden;
                 
            }
    
        } 
    }
} 

/* :::::::::::::: 00 * GRIT_SET section_carousel  */
 .section_carousel { 
    &.contained {
        .owl-carousel { 
            @media (min-width: $sm-res) {
                .owl-nav {
                    button.owl-prev {
                        left: -60px;
                      } 
                      button.owl-next {
                        right: -60px;
                      }
                }
            }
        } 
    } 
 }

/* :::::::::::::: 00 * GRIT_SET section_video  */
.section_video {
    .video-container {
        position: relative;
        width: 100%;
        padding-top: 56.25%; // Mantiene proporzioni 16:9 basato sulla larghezza
        overflow: hidden;

        // Assicura che il contenuto interno si adatti alla grandezza del contenitore
        .video-thumbnail,
        .video-file,
        .video-embed,
        .video-iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $black;
        }

        .thumbnail-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }

        .play-button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 2.5rem;
            color: $grey;
            background: $dark;
            width: 5.5rem;
            opacity: 0.6;
            height: 5.5rem;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: opacity 0.3s;
            @include transition(all 0.2s ease-in-out);

            &:hover {
                opacity: 0.95;
            }
        }
        
        // Video all'interno del contenitore, adattati a mantenere il rapporto
        .video-file video,
        .video-iframe iframe,
        .video-embed iframe {
            width: 100%;
            height: 100%;
            object-fit: cover; // Riempi il contenitore mantenendo il rapporto
        }
    }
}



/* :::::::::::::: 00 * GRIT_SET section_slides  */ 
.section_slides {
    .carousel-slider {
        .item-slide {
            width: 100%;
            min-height: 100vh;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            display: flex;
            align-items: flex-end;
            justify-content: center;
        }
        .owl-nav { 
            button.owl-prev,
            button.owl-next { 
                color: $light; 
            }
            &:hover button.owl-prev,
            &:hover button.owl-next  {
                color: $accent; 
            }
        }
    } 
    .item-slide.item-slide-single {
        width: 100%;
        min-height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    } 
    .inner-text {
        width: 100%;
    }   
}

/* :::::::::::::: 00 * GRIT_SET section_hero  */ 
.section_hero .inner-hero {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
    .col {
        min-height: 500px;
        height: 70vh;
        width: 100%;
    } 
    @media (min-width: $sm-res) {
        .col {
            padding-right: 1rem;
            padding-top: 1rem;
        } 
        .inner-text { 
            text-wrap: balance; 
        }
    } 
}

/* :::::::::::::: 00 * GRIT_SET section_cube  */
.section_cube {
    background-color: transparent!important;
    .col-text {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        .inner-text {
            padding: calc($c-gap / $xxl * 100vw);
        }
    }
    &.contained {
        padding: 0 calc(($c-gap / 2) / $xxl * 100vw); 
        
    }
    .inner-item-list {
        border-bottom: 1px solid; 
        img {
            width: 40px;
        }
    }
    .col-img {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        &.carousle &::before {
            content: '';
            display: block;
            padding-top: 100%; // Mantiene il rapporto 1:1 tra larghezza e altezza
        }
        &.single-image::before {
            content: '';
            display: block;
            padding-top: 100%; // Mantiene il rapporto 1:1
        }
    }
    .carousel-cube {  }
}

/* :::::::::::::: 00 * GRIT_SET section_gallery  */
.section_gallery {
    .gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .gallery-item {
        margin: 0 !important;
        padding: .25rem;
        float: left;
        img {
            width: 100% !important;
            height: auto !important;
            border: none !important;
        }
    }
    .gallery-columns-3 .gallery-item {
        width: 33.33% !important;
    }
    .gallery-columns-4 .gallery-item {
        width: 25% !important;
    }
    .gallery-columns-2 .gallery-item {
        width: 50% !important;
    }
    @media (min-width: $md-res) {
        .gallery-columns-2 .gallery-item {
            width: 50% !important;
        }
    }
    @media (min-width: $md-res) {
        .gallery-columns-3 .gallery-item {
            width: 33.33% !important;
        }

        .gallery-columns-4 .gallery-item {
            width: 25% !important;
        }
    }
    @media (max-width: $sm-res) {
        .gallery-columns-2 .gallery-item,
        .gallery-columns-3 .gallery-item,
        .gallery-columns-4 .gallery-item {
            width: 100% !important; 
        }
    }
    .gallery-columns-3 .gallery-item:nth-child(3n+1) {
        clear: none !important;
    }
    .gallery-columns-4 .gallery-item:nth-child(4n+1) {
        clear: none !important;
    }
}

 


/* :::::::::::::: 00 * GRIT_SET section_archive  */
.section_archive {
    .card {
         
        
    }
    &.section_archive_carousel {
        .owl-carousel {
            .owl-dots {
                bottom: -20px;
            } 
            
        }
    }
    &.contained {
        @media (min-width: 576px) {
            .owl-nav {
                button.owl-prev {
                    left: -60px;
                }
                button.owl-next {
                    right: -60px;
                }
            }
        }
    }
}
 


.section_bio {
    .link-list-bio {
        a {
            svg {
                position: absolute;
                left: 10px;
            }
        }
    } 
}


.section_faq {
    .pagination-list-js {
        li {
            background: $dark;
            color: $light;
            margin-right: 5px;
            padding: 5px;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            text-align: center;
            @include transition(all 0.5s ease-in-out);
            &.active {
                background: $dark;
            }
            &:hover {
                background: $light;
                a {
                    color: $accent;
                }
            }

            a {
                color: $light;

                 
            }
        }

    }
}






.section_plus.layout-plus-1 .col-12 {
    padding: 0;

    &:hover {
        .item-chapters {
            background-color: $secondary;
        }
    }

    .item-chapters {
        background-color: $accent;
        min-height: 400px;
        padding: 35px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: $general-radius;
        @include transition(all 0.2s ease-in-out);

        img {
            width: 40px;
            padding-bottom: 65px;
        }
    }
}


.section_text {
    &.section_carousel_list {
        .owl-carousel {
            .owl-dots {
                bottom: -20px;
            }
        }
        &.contained {
            .owl-carousel { 
                @media (min-width: $sm-res) {
                    .owl-nav {
                        button.owl-prev {
                            left: -80px;
                          } 
                          button.owl-next {
                            right: -80px;
                          }
                    }
                }
            } 
        } 
    }
}

 

.section_carousel.layout-carousel-1 {
    padding-top: 0px !important;
    padding-bottom: 0px !important;

    .container-fluid {
        background-color: $secondary;
        min-height: 450px;
        padding: 20px 0px;

        .owl-carousel {
            position: absolute;
            left: 0;
        }
    }
}



/*  
08 * A_SETTINGS img-hover
  Note: Impostazioni per css */
  .img-hover .img-hover-inner {
    position: relative;
    overflow: hidden;
  }

.img-hover .img-hover-inner img {
  transition: all 0.7s;
  transform: scale(1);
}

.img-hover:hover .img-hover-inner img {
  transform: scale(1.1);
}


.loaded .img-hover-inner:before {
  content: '';
  opacity: 0;
  transition: 0.5s all ease-in-out;
  transition-delay: 0.9s;
  z-index: 10;
}

.img-hover-inner:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: $accent;
  // background: linear-gradient(0deg, rgba(240,250,249,1) 0%, rgba(87,201,187,1) 100%);
  opacity: 1;
}
