/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* :::::::::::::: 01 * GRIT_SET section_page_header */
/* :::::::::::::: 02 * GRIT_SET section_carousel */
/* :::::::::::::: 03 * GRIT_SET section_video */
/* :::::::::::::: 04 * GRIT_SET section_slides */ 
/* :::::::::::::: 05 * GRIT_SET section_hero */ 
/* :::::::::::::: 06 * GRIT_SET section_cube */
/* :::::::::::::: 07 * GRIT_SET section_gallery */
/* :::::::::::::: 08 * GRIT_SET section_archive */
/* :::::::::::::: 09 * GRIT_SET section_collapse */
/* :::::::::::::: 10 * GRIT_SET section_bio */
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

/* :::::::::::::: 01 * GRIT_SET section_page_header */
.section_page_header { 
    padding: 0px !important;   
    .breadcrumb {
        /*
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          padding: 0.75rem 1rem;
          margin-bottom: 1rem;
          list-style: none;
          background-color: #e9ecef;
          border-radius: 0.25rem;
        */
        background: transparent;
        padding: 0.25rem 0rem;
        margin-bottom: 0rem;
        color: $light; 
        a {
            color: $light;
        } 
        a:hover {
            color: $accent;
        } 
        .breadcrumb_last {
            color: $accent;
        }
      }
    &.section_page_header_1 {
        background-color: $transparent!important ;
        padding: 0px !important; 
        .sub-header {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        } 
        .polygon {
            float: left;
            width: 100%;
            min-height: 30px;
            @include gradient-1(90deg, $gradient-colors-1);
            shape-outside: polygon(20px 0,
                    100% 0,
                    100% 100%,
                    0 100%);
            clip-path: polygon(20px 0,
                    100% 0,
                    100% 100%,
                    0 100%); 
            .breadcrumb {
                margin: 0px 30px;
                font-weight: normal;
                color: $light; 
                a {
                    color: $light;
                    @include transition(all 0.2s ease-in-out);
    
                    &:hover {
                        color: $accent;
                    }
                }
            }
        }
    }
    &.section_page_header_2 {
         
        padding: 0px !important; 
        .sub-header {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        } 
    }
    &.section_page_header_3 { 
        padding: 0px !important; 
        .sub-header { 
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            .container-fluid .row {
                min-height: 300px;
                @media (min-width: $md-res) { 
                    min-height: 500px; 
                }
            }
        } 
    }
    &.section_page_header_4 { 
        padding: 0px !important;  
        .sub-header {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        } 
    }
    &.section_page_header_5 { 

        padding: 0px !important; 
        .sub-header {
            position: absolute;
            width: 100%;
          
            z-index: 2;
            .container-fluid .row {
                min-height: 500px;
                @media (min-width: $md-res) { 
                    min-height: 700px; 
                }
            }
        }
        .carousel-header {
            z-index: unset;
            .item-header { 
                z-index: 0;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat; 
                min-height: 500px;
                    @media (min-width: $md-res) { 
                        min-height: 700px; 
                    }
            } 
            .owl-nav { 
                position: absolute;
                z-index: 2;
                top: auto;
                bottom: 35px;
                right: calc(($c-gap / 2 ) / ( $xxl / 2 ) * 100vw);
                width: 150px;
           
            }
        }
        
    }
    &.section_page_header_6 { 
        padding: 0px !important; 
        background-color: transparent;
        margin-bottom: 180px;
        .sub-header { 
            position: relative;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat; 
            min-height: 300px;
            @media (min-width: $md-res) { 
                min-height: 500px; 
            }
            .inner-header {
                bottom: -150px;
                overflow: hidden;
                 
            }
    
        } 
    }
} 

/* :::::::::::::: 02 * GRIT_SET section_carousel */
 .section_carousel { }

/* :::::::::::::: 03 * GRIT_SET section_video */
.section_video {
    .video-container {
        position: relative;
        width: 100%;
        padding-top: 56.25%; // Mantiene proporzioni 16:9 basato sulla larghezza
        overflow: hidden;

        // Assicura che il contenuto interno si adatti alla grandezza del contenitore
        .video-thumbnail,
        .video-file,
        .video-embed,
        .video-iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $black;
        }

        .thumbnail-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }

        .play-button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 2.5rem;
            color: $grey;
            background: $dark;
            width: 5.5rem;
            opacity: 0.6;
            height: 5.5rem;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: opacity 0.3s;
            @include transition(all 0.2s ease-in-out);

            &:hover {
                opacity: 0.95;
            }
        }
        
        // Video all'interno del contenitore, adattati a mantenere il rapporto
        .video-file video,
        .video-iframe iframe,
        .video-embed iframe {
            width: 100%;
            height: 100%;
            object-fit: cover; // Riempi il contenitore mantenendo il rapporto
        }
    }
}

/* :::::::::::::: 04 * GRIT_SET section_slides */ 
.section_slides {
    .owl-carousel {
        .owl-item.active .item-slide {
            @media (min-width: $md-res) { 
                background-size: 103vw; 
            }
        }
        .item-slide {
            width: 100%;
            min-height: 100vh;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            transition: background-size 6s ease-in-out; // Aggiungi la transizione

            @media (min-width: $md-res) { 
                background-size: 100vw;
                &:hover {
                    background-size: 103vw !important;
                } 
            }


            img {
                display: initial;
                width: revert-layer;
            }

        }
        .owl-nav { 
            button.owl-prev
            button.owl-next { 
                color: $light; 
            }
            &:hover button.owl-prev,
            &:hover button.owl-next  {
                color: $accent; 
            }
        }
    } 
    .item-slide.item-slide-single {
        width: 100%;
        min-height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        transition: background-size 6s ease-in-out; // Aggiungi la transizione
 
        @media (min-width: $md-res) { 
            background-size: 100vw;
            &:hover {
                background-size: 103vw !important;
            } 
        }

    } 


    .inner-text {
        width: 100%;
    }   
}

/* :::::::::::::: 05 * GRIT_SET section_hero */ 
.section_hero .inner-hero {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
    .col {
        min-height: 500px;
        height: 70vh;
        width: 100%;
    } 
    @media (min-width: $sm-res) {
        .col {
            padding-right: 1rem;
            padding-top: 1rem;
        } 
        .inner-text { 
            text-wrap: balance; 
        }
    } 
}

/* :::::::::::::: 06 * GRIT_SET section_cube */
.section_cube {
    background-color: transparent!important;
    .col-text {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        .inner-text {
            padding: calc($c-gap / $xxl * 100vw);
        }
    }
    &.contained {
        padding: 0 calc(($c-gap / 2) / $xxl * 100vw); 
        
    }
    .inner-item-list {
        border-bottom: 1px solid; 
        img {
            width: 40px;
        }
        p {
            margin: 0;
        }
    }
    .col-img {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        &.carousle &::before {
            content: '';
            display: block;
            padding-top: 100%; // Mantiene il rapporto 1:1 tra larghezza e altezza
        }
        &.single-image::before {
            content: '';
            display: block;
            padding-top: 100%; // Mantiene il rapporto 1:1
        }
    }
    .owl-carousel {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%; /* Assicurati che il contenitore abbia un'altezza */
        .owl-dots {
            bottom: 20px;
        }
    }
 
    &.contained {
        .owl-carousel { 
          @media (min-width: $sm-res) {
            .owl-nav {
              button.owl-prev {
                left: 10px;
              } 
              button.owl-next {
                right: 10px;
              }
            }
          }
        }  
      } 
    
}

/* :::::::::::::: 07 * GRIT_SET section_gallery */
.section_gallery {
    .gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .gallery-item {
        margin: 0 !important;
        padding: .25rem;
        float: left;
        img {
            width: 100% !important;
            height: auto !important;
            border: none !important;
        }
    }
    .gallery-columns-3 .gallery-item {
        width: 33.33% !important;
    }
    .gallery-columns-4 .gallery-item {
        width: 25% !important;
    }
    .gallery-columns-2 .gallery-item {
        width: 50% !important;
    }
    @media (min-width: $md-res) {
        .gallery-columns-2 .gallery-item {
            width: 50% !important;
        }
    }
    @media (min-width: $md-res) {
        .gallery-columns-3 .gallery-item {
            width: 33.33% !important;
        }

        .gallery-columns-4 .gallery-item {
            width: 25% !important;
        }
    }
    @media (max-width: $sm-res) {
        .gallery-columns-2 .gallery-item,
        .gallery-columns-3 .gallery-item,
        .gallery-columns-4 .gallery-item {
            width: 100% !important; 
        }
    }
    .gallery-columns-3 .gallery-item:nth-child(3n+1) {
        clear: none !important;
    }
    .gallery-columns-4 .gallery-item:nth-child(4n+1) {
        clear: none !important;
    }
    
    // no padding per carousel fullwidth
    &.no-horizontal-padding,
    &.no-horizontal-padding .container-fluid,
    &.no-horizontal-padding .row,
    &.no-horizontal-padding .col {
      padding-left: 0 !important;
      padding-right: 0 !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
}

/* :::::::::::::: 08 * GRIT_SET section_archive */
.section_archive {
    .card { 
    }
} 

/* :::::::::::::: 09 * GRIT_SET section_collapse */
.section_collapse {
    .pagination-list-js {
        li {
            background: $dark;
            color: $light;
            margin-right: 5px;
            padding: 5px;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            text-align: center;
            @include transition(all 0.5s ease-in-out);
            &.active {
                background: $dark;
            }
            &:hover {
                background: $light;
                a {
                    color: $accent;
                }
            }

            a {
                color: $light; 
            }
        }

    }
}

/* :::::::::::::: 10 * GRIT_SET section_bio */
.section_bio {
    .link-list-bio {
        a {
            svg {
                position: absolute;
                left: 10px;
            }
        }
    } 
}

  

 




.section-gsap-horizontal {
  height: 100vh;
  overflow: hidden;
  position: relative;

  .row {
    display: flex !important;
    flex-wrap: nowrap !important;
    height: 100%;
    width: auto; // Let it grow based on columns
  }

  .item-chapters {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .inner-item {
      width: 100%;
      padding: 2rem;
      .inner-text {

      }
    }
  }
}


.section-gsap-vertical {
  position: relative;
  height: 100vh;

  .item-chapters {
    position: absolute;
    inset: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .inner-item {
      width: 100%;
      text-align: center;
      padding: 2rem;
    }
  }
}



.section-gsap-reveal {
  .word {
    display: inline-block;
    opacity: 0.1; // fallback
    transition: opacity 0.3s ease-out;
  }
}




.section-gsap-lateral-word {
  min-height: 100vh;
  overflow: hidden;

  .container-fluid {
    padding: 0;
  }

  .item-chapters {
    display: flex;
    align-items: center;
    justify-content: flex-start; // ← importante: parte da sinistra
    height: 100vh;
  }

  .inner-text {
    overflow: visible;
    display: flex;
    align-items: center;
    height: 100%;
  }

  .inner-text h1 {
    white-space: nowrap;
    display: inline-block;
    font-size: 2rem;
    padding: 0 2rem;
    color: red;
    margin: 0;
    min-width: max-content; // ← CRUCIALE: forza larghezza completa del testo
  }
}

 