/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* :::::::::::::: 01 * GRIT_SET typography */
/* :::::::::::::: 02 * GRIT_SET btn */
/* :::::::::::::: 03 * GRIT_SET btn-color */
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/


/* :::::::::::::: 01 * GRIT_SET typography */
p {
  font-family: $font-primary;
}


.font-primary,
.font-primary * {
  font-family: $font-primary !important;
  font-weight: normal !important; 
}

.font-secondary,
.font-secondary * {
  font-family: $font-secondary !important;
  font-weight: normal !important; 
}


// .font-tertiary,
// .font-tertiary * {
//   font-family: $font-tertiary !important;
//   font-weight: normal !important;
//   letter-spacing: 0.03em!important;
// }


h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-family: $font-secondary;
  font-weight: 900;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: $font-primary;
}

.lead {
  font-weight: normal;
}
 

.text-muted {
  color: $text-color;
  opacity: 0.8;
}

a {
  // font-variation-settings: 'wght' 900;
  font-variation-settings: 'slnt' 0;
  // font-weight: bold;
  color: $accent;
  text-decoration: none;
  background-color: transparent;
  @include transition(all 0.5s ease-in-out);
}

a:hover {
  // color: darken($tertiary, 20%);
  color: $secondary;
  // border-radius: 3px;
  // font-variation-settings: 'wght' 300;
  font-variation-settings: 'slnt' 12;
  text-decoration: none;
}

/* :::::::::::::: 02 * GRIT_SET btn */
.btn {
  border-radius: 25px;
  padding: 0.545em 1.4em;
  text-align: center;
  display: inline-block;
  letter-spacing: .02em;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid;
  line-height: 1;
  position: relative;
  font-weight: 900;
  text-transform: uppercase;
  @include transition(all 0.5s ease-in-out);
  /* Standard */
  // border-radius: 10px;
  // font-family: Inter;
  // font-style: normal;
  // font-weight: normal;
  // font-size: 18px;
  // line-height: 20px;
  // text-align: center;
  // text-transform: uppercase;
  // padding: 0.375rem 1.75rem;
  // @include transition(all 0.5s ease-in-out);
  
  &.btn-circle {
    width: 40px;
    height: 40px;
    padding: 3px;
    margin: 0px 3px;
    border-radius: 25px;
    font-size: 22px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// $color, $bg, $border, $h-color, $h-bg, $h-border
@mixin btn-color($color, $bg, $border, $h-color, $h-bg, $h-border) {
  color: $color;
  background: $bg;
  border-color: $border;
  transition: all 0.3s ease;

  &:hover {
    color: $h-color;
    background: $h-bg;
    border-color: $h-border;
  }

  &:active {
    background: darken($h-color, 30%);
    border-color: darken($h-border, 30%);
  }

  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active,
  .show>&.dropdown-toggle {
    background: darken($bg, 30%);
    border-color: darken($border, 30%);
    box-shadow: 0 0 0 0.1rem lighten($bg, 10%)!important;
  }

  &.disabled,
  &:disabled {
    opacity: 0.10;
    background: darken($bg, 30%);
    border-color: darken($border, 30%);
  }
 
  &.focus,
  &:focus {
    background: $h-bg;
    border-color: $h-border;
    box-shadow: 0 0 0 0.1rem lighten($bg, 10%);
  }
}


 

/* :::::::::::::: 03 * GRIT_SET btn-color */

// Accent
.btn-accent {
  @include btn-color($light, $accent, $accent, $accent, $light, $light);
}

.btn-outline-accent {
  @include btn-color($accent, $light, $accent, $accent, $light, $light);
}
// Primary
.btn-primary {
  @include btn-color($light, $primary, $primary, $primary, $light, $light);
}

.btn-outline-primary {
  @include btn-color($primary, $light, $primary, $primary, $light, $light);
}

// Secondary
.btn-secondary {
  @include btn-color($light, $secondary, $secondary, $secondary, $light, $light);
}

.btn-outline-secondary {
  @include btn-color($secondary, $light, $secondary, $secondary, $light, $light);
}

// Tertiary
.btn-tertiary {
  @include btn-color($light, $tertiary, $tertiary, $tertiary, $light, $light);
}

.btn-outline-tertiary {
  @include btn-color($tertiary, $light, $tertiary, $tertiary, $light, $light);
}

// Quaternary
.btn-quaternary {
  @include btn-color($light, $quaternary, $quaternary, $quaternary, $light, $light);
}

.btn-outline-quaternary {
  @include btn-color($quaternary, $light, $quaternary, $quaternary, $light, $light);
}

// Quinary
.btn-quinary {
  @include btn-color($light, $quinary, $quinary, $quinary, $light, $light);
}

.btn-outline-quinary {
  @include btn-color($quinary, $light, $quinary, $quinary, $light, $light);
}

// Senary
.btn-senary {
  @include btn-color($light, $senary, $senary, $senary, $light, $light);
}

.btn-outline-senary {
  @include btn-color($senary, $light, $senary, $senary, $light, $light);
}

// Septenary
.btn-septenary {
  @include btn-color($light, $septenary, $septenary, $septenary, $light, $light);
}

.btn-outline-septenary {
  @include btn-color($septenary, $light, $septenary, $septenary, $light, $light);
}

// Octonary
.btn-octonary {
  @include btn-color($light, $octonary, $octonary, $octonary, $light, $light);
}

.btn-outline-octonary {
  @include btn-color($octonary, $light, $octonary, $octonary, $light, $light);
}

// Nonary
.btn-nonary {
  @include btn-color($light, $nonary, $nonary, $nonary, $light, $light);
}

.btn-outline-nonary {
  @include btn-color($nonary, $light, $nonary, $nonary, $light, $light);
}

// Denary
.btn-denary {
  @include btn-color($light, $denary, $denary, $denary, $light, $light);
}

.btn-outline-denary {
  @include btn-color($denary, $light, $denary, $denary, $light, $light);
}



// Grey
.btn-grey {
  @include btn-color($light, $grey, $grey, $grey, $light, $light);
}

.btn-outline-grey {
  @include btn-color($grey, $light, $grey, $grey, $light, $light);
}

// White
.btn-white {
  @include btn-color($dark, $white, $white, $white, $dark, $dark);
}

.btn-outline-white {
  @include btn-color($white, $dark, $white, $white, $dark, $dark);
}

// Black
.btn-black {
  @include btn-color($light, $black, $black, $black, $light, $light);
}

.btn-outline-black {
  @include btn-color($black, $light, $black, $black, $light, $light);
}


 




/* Custom button styles */
.btn-outline-transparent { 
  border-color: $light;
  background: none;
  outline: none;
  color: $light;; /* Testo bianco di default */
  mix-blend-mode: screen;
  @include transition(all 0.5s ease-in-out);

  // Pseudo-elemento per lo sfondo bianco
  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent; /* Sfondo trasparente di default */
    border-radius: 0;
    content: '';
    mix-blend-mode: color-burn; /* Modalità di fusione per ottenere l'effetto desiderato */
    z-index: -1; /* Posiziona lo sfondo sotto il testo */
    @include transition(all 0.5s ease-in-out);
  }

  // Effetti in hover
  &:hover {
    color: $dark; /* Cambia il colore del testo in nero in hover */

    &::before {
      background: $light;; /* Rende lo sfondo bianco in hover */
    }
  }

  &:focus {
    outline: none; /* Rimuove il contorno predefinito */
    box-shadow: 0 0 0 0.2rem $light;; /* Ombra personalizzata per il focus */
  }

  &:active {
    color: $dark; /* Mantiene il testo nero quando il pulsante è attivo */

    &::before {
      background: $light;; /* Rende lo sfondo bianco quando il pulsante è attivo */
    }
  }

  &:disabled,
  &.disabled {
    opacity: 0.5; /* Opacità ridotta quando il pulsante è disabilitato */
    cursor: not-allowed; /* Cambia il cursore quando il pulsante è disabilitato */
  }
}
 

 /* Custom button styles */
 .btn-transparent {
  border-color: $light;
  background: none;
  outline: none;
  color: $dark;
  mix-blend-mode: screen;
  text-transform: uppercase; /* Aggiungo la trasformazione del testo in maiuscolo */ 
  @include transition(all 0.5s ease-in-out); 
  // Pseudo-elemento per lo sfondo bianco
  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $light;
    border-radius: 0;
    content: '';
    mix-blend-mode: color-burn; /* Modalità di fusione per ottenere l'effetto desiderato */
    z-index: -1; /* Posiziona lo sfondo sotto il testo */
    @include transition(all 0.5s ease-in-out);
  }

  // Effetti in hover
  &:hover {
    color: $light;/* Cambia il colore del testo in bianco in hover */
    
    &::before {
      background: transparent; /* Rende lo sfondo trasparente in hover */
    }
  }

  &:focus {
    outline: none; /* Rimuove il contorno predefinito */
    box-shadow: 0 0 0 0.2rem $light; /* Ombra personalizzata per il focus */
  }

  &:active {
    color: $light; /* Mantiene il testo bianco quando il pulsante è attivo */
    
    &::before {
      background: transparent; /* Rende lo sfondo trasparente quando il pulsante è attivo */
    }
  }

  &:disabled,
  &.disabled {
    opacity: 0.5; /* Opacità ridotta quando il pulsante è disabilitato */
    cursor: not-allowed; /* Cambia il cursore quando il pulsante è disabilitato */
  }
}
 

.box-buttons {
  .btn:nth-of-type(2) {
    margin-left: 1rem;
}
}
 







// @mixin set_size($property, $variable1, $variable2: 1920) {
//   #{$property}: calc(#{$variable1}/#{$variable2}*100vw);
// }

// h1 {
//   @include set_size ('font-size', 54 );
//   @media (max-width: 950px) {
//     @include set_size ('font-size', 30, 950 );
//   } 
// }