/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* :::::::::::::: 01 * GRIT_SET Color */
/* :::::::::::::: 02 * GRIT_SET Gradinet */
/* :::::::::::::: 03 * GRIT_SET Fonts */
/* :::::::::::::: 04 * GRIT_SET Varriables */
/* :::::::::::::: 05 * GRIT_SET Trasitions */ 
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

/* :::::::::::::: 01 * GRIT_SET Color */ 

$burnt-sienna: #ee6c4dff;

$light-cyan: #e0fbfcff; 
$gunmetal: #293241ff;

$rich-black: #11151cff;
$rich-black-2: #151b25ff;
$raisin-black: #19212eff;
$prussian-blue: #212d40ff;
$prussian-blue-2: #273246ff;
$prussian-blue-3: #2c374bff;
$charcoal: #313c51ff;
$charcoal-2: #343f54ff;
$charcoal-3: #364156ff;
$charcoal-4: #485265ff;

$accent: $burnt-sienna;

$light: #dfdfdf;
$dark: #343434;

$primary: $rich-black;
$secondary: $rich-black-2;
$tertiary: $raisin-black;
$quaternary: $prussian-blue;
$quinary: $prussian-blue-2;
$senary: $prussian-blue-3;
$septenary: $charcoal;
$octonary: $charcoal-2;
$nonary: $charcoal-3;
$denary: $charcoal-4; 

$white: #ffffff; 
$black: #000000; 
$grey:#d2d2d2;

$transparent: transparent;

$text-color: $black;
$bg-color: $white;

$black-50: #808080;
$black-50-rgb: rgb(128, 128, 128);
$black-50-rgba: rgba(0, 0, 0, 0.5);
$black-20: #CCCCCC;
$black-20-rgb: rgb(204, 204, 204);
$black-20-rgba: rgba(0, 0, 0, 0.2);
$black-5: #F2F2F2;
$black-5-rgb: rgb(242, 242, 242);
$black-5-rgba: rgba(0, 0, 0, 0.05); 

:root {
  --primary: #eb5e28;
  --secondary: #403d39;
  --tertiary: #f3efe4;
  --quaternary: #fffcf2;
  --quinary: #e6e1d6;
  --senary: #ccc5b9;
  --septenary: #868179;
  --octonary: #252422;
  --nonary: #884125;
  --denary: #ed6d3c;
}

$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "tertiary": $tertiary,
  "quaternary": $quaternary,
  "quinary": $quinary,
  "senary": $senary,
  "septenary": $septenary,
  "octonary": $octonary,
  "nonary": $nonary,
  "denary": $denary,

  "white": $white,
  "black": $black,

  "accent": $accent,

  "light": $light,
  "dark": $dark,

  'grey':$grey

); 

@each $name, $value in $colors {

  .bg-#{$name} {
    background-color: $value !important;
  }

  .color-#{$name} {
    color: $value !important;
  }

  .border-#{$name} {
    border-color: $value !important;
  }

  .bg-#{$name}-half {
    background: $value;
    background: -moz-linear-gradient(0deg, $value 50%, $transparent 50%);
    background: -webkit-linear-gradient(0deg, $value 50%, $transparent 50%);
    background: linear-gradient(0deg, $value 50%, $transparent 50%);
  }

} 

/* :::::::::::::: 02 * GRIT_SET Gradinet */

$gradient-colors-1: (
  $primary 0%,
  // $secondary 10%,
  // $tertiary 20%,
  // $quaternary 30%,
  // $quinary 40%,
  // $senary 50%,
  // $septenary 60%,
  // $octonary 70%,
  // $nonary 80%,
  // $denary 90%,
  $nonary 100%
);

@mixin gradient-1($direction: 90deg, $colors: ()) {
  $gradient: ''; 
  @each $color, $percent in $colors {
    $gradient: #{$gradient} + ', ' + #{$color} + ' ' + #{$percent};
  } 
  $gradient: unquote($gradient);  
  $gradient: str-slice($gradient, 3);  
  background: linear-gradient($direction, $gradient);
}

/* :::::::::::::: 03 * GRIT_SET Fonts */
 
// @import url("../font/metropolis/stylesheet.css");

$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Roboto', sans-serif;   

/* :::::::::::::: 04 * GRIT_SET Varriables */

$sx-res: 479px;
$sm-res: 767px;
$md-res: 992px;
$lg-res: 1200px;
$xl-res: 1600px;
$xxl-res: 1920px;

$sx: 479;
$sm: 767;
$md: 992;
$lg: 1200;
$xl: 1600;
$xxl: 1920;

$general-radius: 3rem;

/* :::::::::::::: 05 * GRIT_SET Trasitions */ 

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin transform($transforms) {
  -webkit-transform: $transforms;
  -moz-transform: $transforms;
  -ms-transform: $transforms;
  transform: $transforms;
}

@mixin rotate($deg) {
  @include transform(rotate(#{$deg}deg));
}

@mixin scale($scale) {
  @include transform(scale($scale));
}

@mixin translate($x, $y) {
  @include transform(translate($x, $y));
}

@mixin skew($x, $y) {
  @include transform(skew(#{$x}deg, #{$y}deg));
}

@mixin transform-origin($origin) {
  -webkit-transform-origin: $origin;
  -moz-transform-origin: $origin;
  -ms-transform-origin: $origin;
  transform-origin: $origin;
}

