$floral-white: #fffcf2;
$alabaster: #f3efe4;
$alabaster-2: #e6e1d6;
$timberwolf: #ccc5b9;
$battleship-gray: #868179;
$black-olive: #403d39;
$eerie-black: #252422;
$sienna: #884125;
$flame: #eb5e28;
$burnt-sienna: #ed6d3c;

$primary: $flame;
$secondary: $black-olive;
$tertiary: $alabaster;
$quaternary: $floral-white;
$quinary: $alabaster-2;
$senary: $timberwolf;
$septenary: $battleship-gray;
$octonary: $eerie-black;
$nonary: $sienna;
$denary: $burnt-sienna;

$white: #ffffff;
$black: #000000;
$trasparent: trasparent;


$text-color: $black;
$bg-color: $white;

$black-50: #808080;
$black-50-rgb: rgb(128, 128, 128);
$black-50-rgba: rgba(0, 0, 0, 0.5);
$black-20: #CCCCCC;
$black-20-rgb: rgb(204, 204, 204);
$black-20-rgba: rgba(0, 0, 0, 0.2);
$black-5: #F2F2F2;
$black-5-rgb: rgb(242, 242, 242);
$black-5-rgba: rgba(0, 0, 0, 0.05);

$general-radius: 3rem;

$smallmob-res: 479px;
$mob-res: 767px;
$med-res: 992px;
$max-res: 1200px;
$desk-res: 1600px;
$fullhd-res: 1920px;

:root {
    --primary: #eb5e28;
    --secondary: #403d39;
    --tertiary: #f3efe4;
    --quaternary: #fffcf2;
    --quinary: #e6e1d6;
    --senary: #ccc5b9;
    --septenary: #868179;
    --octonary: #252422;
    --nonary: #884125;
    --denary: #ed6d3c;
}

$colors: (
    primary: $primary,
    secondary: $secondary,
    tertiary: $tertiary,
    quaternary: $quaternary,
    quinary: $quinary,
    senary: $senary,
    septenary: $septenary,
    octonary: $octonary,
    nonary: $nonary,
    denary: $denary,
    
    white: $white,
    black: $black,
);

/* GRIT_SET Fonts
    Note: Setting fonts */

// @import url("../font/metropolis/stylesheet.css");
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Roboto', sans-serif;


/* GRIT_SET Trasitions
    Note: Setting trasitions */
    
@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
  }
  
  @mixin transform($transforms) {
    -webkit-transform: $transforms;
    -moz-transform: $transforms;
    -ms-transform: $transforms;
    transform: $transforms;
  }
  
  @mixin rotate($deg) {
    @include transform(rotate(#{$deg}deg));
  }
  
  @mixin scale($scale) {
    @include transform(scale($scale));
  }
  
  @mixin translate($x, $y) {
    @include transform(translate($x, $y));
  }
  
  @mixin skew($x, $y) {
    @include transform(skew(#{$x}deg, #{$y}deg));
  }
  
  @mixin transform-origin($origin) {
    -webkit-transform-origin: $origin;
    -moz-transform-origin: $origin;
    -ms-transform-origin: $origin;
    transform-origin: $origin;
  }
 