/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* :::::::::::::: 01 * GRIT_SET Color */
/* :::::::::::::: 02 * GRIT_SET Gradinet */
/* :::::::::::::: 03 * GRIT_SET Fonts */
/* :::::::::::::: 04 * GRIT_SET Varriables */
/* :::::::::::::: 05 * GRIT_SET Trasitions */ 
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

/* :::::::::::::: 01 * GRIT_SET Color */ 

$accent: #fe7f2d;

$light: #F8F9FA;
$dark: #1D1D1B;
$grey:#CED4DA;

$primary: #fcca46; 
$secondary:  #a1c181;
$tertiary: #619b8a;
$quaternary: #212529;
$quinary: #343A40;
$senary: #495057;
$septenary: #6C757D;
$octonary: #ADB5BD;
$nonary: #DEE2E6;
$denary: #E9ECEF;

$white: #ffffff; 
$black: #000000; 

$transparent: transparent;

$text-color: $black;
$bg-color: $white;

$black-50: #808080;
$black-50-rgb: rgb(128, 128, 128);
$black-50-rgba: rgba(0, 0, 0, 0.5);
$black-20: #CCCCCC;
$black-20-rgb: rgb(204, 204, 204);
$black-20-rgba: rgba(0, 0, 0, 0.2);
$black-5: #F2F2F2;
$black-5-rgb: rgb(242, 242, 242);
$black-5-rgba: rgba(0, 0, 0, 0.05); 

:root {
  --primary: #eb5e28;
  --secondary: #403d39;
  --tertiary: #f3efe4;
  --quaternary: #fffcf2;
  --quinary: #e6e1d6;
  --senary: #ccc5b9;
  --septenary: #868179;
  --octonary: #252422;
  --nonary: #884125;
  --denary: #ed6d3c;
}

$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "tertiary": $tertiary,
  "quaternary": $quaternary,
  "quinary": $quinary,
  "senary": $senary,
  "septenary": $septenary,
  "octonary": $octonary,
  "nonary": $nonary,
  "denary": $denary,

  "white": $white,
  "black": $black,

  "accent": $accent,

  "light": $light,
  "dark": $dark,

  'grey':$grey

); 

@each $name, $value in $colors {

  .bg-#{$name} {
    background-color: $value !important;
  }

  .color-#{$name} {
    color: $value !important;
    label {
      color: $value !important;
    }
  }

  .border-#{$name} {
    border-color: $value !important;
  }

  .bg-#{$name}-half {
    background: $value;
    background: -moz-linear-gradient(0deg, $value 50%, $transparent 50%);
    background: -webkit-linear-gradient(0deg, $value 50%, $transparent 50%);
    background: linear-gradient(0deg, $value 50%, $transparent 50%);
  }

} 

/* :::::::::::::: 02 * GRIT_SET Gradinet */

$gradient-colors-1: (
  $dark 0%,
  // $secondary 10%,
  // $tertiary 20%,
  // $quaternary 30%,
  // $quinary 40%,
  // $senary 50%,
  // $septenary 60%,
  // $octonary 70%,
  // $nonary 80%,
  // $denary 90%,
  $quinary 100%
);

@mixin gradient-1($direction: 90deg, $colors: ()) {
  $gradient: ''; 
  @each $color, $percent in $colors {
    $gradient: #{$gradient} + ', ' + #{$color} + ' ' + #{$percent};
  } 
  $gradient: unquote($gradient);  
  $gradient: str-slice($gradient, 3);  
  background: linear-gradient($direction, $gradient);
}

/* :::::::::::::: 03 * GRIT_SET Fonts */
 
// @import url("../font/metropolis/stylesheet.css");

$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Roboto', sans-serif;   

/* :::::::::::::: 04 * GRIT_SET Varriables */

$xs-res: 0;
$sm-res: 576px;
$md-res: 768px;
$lg-res: 992px;
$xl-res: 1200px;
$xxl-res: 1600px;
$xxxl-res: 1920px;

$breakpoints: ( 
  xs: $xs-res,
  sm: $sm-res,
  md: $md-res,
  lg: $lg-res,
  xl: $xl-res,
  xxl: $xxl-res,
  xxxl: $xxxl-res,
);


$xs: 0;
$sm: 576;
$md: 768;
$lg: 992;
$xl: 1200;
$xxl: 1600;
$xxxl: 1920;

$c-gap: 140;

$general-radius: 10px;

/* :::::::::::::: 05 * GRIT_SET Trasitions */ 

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin transform($transforms) {
  -webkit-transform: $transforms;
  -moz-transform: $transforms;
  -ms-transform: $transforms;
  transform: $transforms;
}

@mixin rotate($deg) {
  @include transform(rotate(#{$deg}deg));
}

@mixin scale($scale) {
  @include transform(scale($scale));
}

@mixin translate($x, $y) {
  @include transform(translate($x, $y));
}

@mixin skew($x, $y) {
  @include transform(skew(#{$x}deg, #{$y}deg));
}

@mixin transform-origin($origin) {
  -webkit-transform-origin: $origin;
  -moz-transform-origin: $origin;
  -ms-transform-origin: $origin;
  transform-origin: $origin;
}

