{% extends 'base.twig' %}

{% block content %}
1
    {% do action('woocommerce_before_main_content') %}
2
    <div class="before-shop-loop">
        {% do action('woocommerce_before_shop_loop') %}
    </div>
3
    <div class="loop">
        {% for post in products %}
            {% include ["partials/tease-product.twig"] %}
        {% endfor %}
    </div>
4
    {% do action('woocommerce_after_shop_loop') %}
 5   {% do action('woocommerce_after_main_content') %}

{% endblock  %}