{# section_hero #}
 
    <div class="container-fluid"> 
        <div class="inner-hero p-5 bg-{{section.inner_background_color}}" {% if section.background %} style="background-image:url('{{Image(section.background.id).src}}');" {% endif %}>
            <div class="row">
                <div class="col col-12 col-md-6 offset-md-6  d-flex flex-column justify-content-between">
                    <div class="inner-title">
                        <h1 class="">{{section.title}}</h1>
                        {% if section.link_1 %}
                            {% set btn = {
                                'title': section.link_1.title,
                                'url': section.link_1.url,
                                'target': section.link_1.target,
                                'style': 'btn btn-' ~ section.link_1_color ~ ' btn-md',
                                }
                            %}
                            {% include ['/partials/btn.twig'] with btn %}
                        {% endif %}
                        {% if section.link_2 %}
                            {% set btn = {
                                'title': section.link_2.title,
                                'url': section.link_2.url,
                                'target': section.link_2.target,
                                'style': 'btn btn-' ~ section.link_2_color ~ ' btn-md',
                                }
                            %}
                            {% include ['/partials/btn.twig'] with btn %}
                        {% endif %}
                    </div>
                    <div class="inner-text">
                        {{section.text}}
                    </div>
                </div>
            </div>
        </div>
    </div>
 
{# end section_hero #}