{# section_carousel_plus #}
<section class="section_carousel_plus bg-secondary pb-5">
    <div class="container-fluid contained mb-5">
        <div class="row">
            <div class="col-12">
       
                    <div class="owl-carousel owl-theme" id="carousel-plus">
                        {% for item in section.lists %}
                            <div class="item-plus bg-white px-3 py-4 mt-4">
                                <img src="{{ Image(item.icon.id).src|resize(50,50)}}" alt="" class=" ">
                                {% if item.bedge %}
                                <div class="bedge"><p  class="m-0 p-0">{{item.bedge}}</p></div>
                                {% endif %}
                                
                                
                                <div class="inner-plus pt-5">
                                    <h5 >{{item.title}}</h5>
                                <p>{{item.text}}</p>
                                </div>
                            </div>
                           
                        {% endfor %}
                     </div>
             
            </div>
        </div>
    </div>
</section>

<script>
 

$(document).ready(function () {
    $("#carousel-plus").owlCarousel({
        loop: true,
        margin: 20,
        responsiveClass: true, 
        nav: true,
        dots: true,
        navText: ["<i class='fa fa-chevron-left'></i>", "<i class='fa fa-chevron-right'></i>"],
        responsive: {
            0: {
                items: 1, // Impostazioni per schermi molto piccoli
                  dots: true,
            },
            576: {
                items: 2, // Impostazioni per schermi piccoli
           dots: true,
            },
            768: {
                items: 3, // Impostazioni per schermi medi
              dots: true,
            },
            992: {
                items: 3, // Impostazioni per schermi grandi
                 dots: true,
            },
            1200: {
                items: 4, // Impostazioni per schermi molto grandi
                  dots: true,
            }
        }
    });
});

</script>

{# end section_carousel_plus #}