{# section_details #}

<div class="container-fluid ">
    <div class="row justify-content-around">
        <div class="col-12 col-md-6 col-lg-5 d-flex flex-column justify-content-between ">
            <div class="inner-intro py-4 mb-5">
                {% if section.title %}
                <h1>{{section.title}}</h1>
                {% endif %}
                
                {% if section.intro %}
                <div class="inner-text pb-2"> 
                    {{section.intro}}
                </div>
                {% endif %} 
                <div class="box-buttons">
                    {% if section.link_1 %}
                    {% set btn = {
                        'title': link_1.title,
                        'url': link_1.url,
                        'target': link_1.target,
                        'style': 'btn btn-' ~ section.color_link_1 ~ ' btn-md',
                    }
                    %}
                    {% include ['/partials/btn.twig'] with btn %} 
                    {% endif %}
                </div>
                
            </div> 
            {% if 'parallax' in section.class %}
            <div class="jarallax-keep-img overlay-in" data-speed="0.5"> 
                {% set image = {
                    'alt': section.image_1.alt,
                    'src': Image(section.image_1.id).src ,
                    'class': 'img-fluid jarallax-img'
                } %}
                {% include ['/partials/img.twig'] with image %}
            </div>
            {% else %}
            {% set image = {
                'alt': section.image_1.alt,
                'src': Image(section.image_1.id).src ,
                'class': 'img-fluid '
            } %}
            {% include ['/partials/img.twig'] with image %} 
            {% endif %}   
        </div> 
        <div class="col-12 col-md-6 col-lg-5 d-flex flex-column justify-content-between"> 
            {% if 'parallax' in section.class %}
            <div class="jarallax-keep-img overlay-in" data-speed="0.5"> 
                {% set image = {
                    'alt':  section.image_2.alt,
                    'src': Image(section.image_2.id).src ,
                    'class': 'img-fluid jarallax-img'
                } %}
                {% include ['/partials/img.twig'] with image %}
            </div>
            {% else %}
            {% set image = {
                'alt': section.image_2.alt,
                'src': Image(section.image_2.id).src ,
                'class': 'img-fluid '
            } %}
            {% include ['/partials/img.twig'] with image %} 
            {% endif %}   
            <div class="inner-subtext py-4 mt-5">
                {% if section.sub_title %}
                <h4 class="font-secodandary">{{section.sub_title}}</h4>
                {% endif %} 
                {% if section.sub_text %}
                <div class="inner-text pb-2"> 
                    {{section.sub_text}}
                </div>
                {% endif %}  


                <div class="box-buttons"> 
                    {% if section.link_2 %}
                    {% set btn = {
                        'title': section.link_2.title,
                        'url': section.link_2.url,
                        'target': section.link_2.target,
                        'style': 'btn btn-' ~ section.color_link_2 ~ ' btn-md',
                    }
                    %}
                    {% include ['/partials/btn.twig'] with btn %}
                </div>
                
                {% endif %}
            </div>
        </div>
    </div>
</div>

{# end section_details #}