{#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::#}
{# :::::::::::::: 01 * GRIT_SET section_archive_carosuel #}
{# :::::::::::::: 02 * GRIT_SET section_archive #}
{#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::#} 

{% set tease = section.tease | default('post') %}       
{% set post_type = section.post_type | default('post') %}       
{% set posts = attribute(_context, 'archive_' ~ post_type) %}

{% if 'section_archive_carousel' in class %}
{# :::::::::::::: 01 * GRIT_SET section_archive_carosuel #}
{% set grid = ' ' %} 
<div class="container-fluid">
    <div class="row ">  
        <div class="col">
            <div class="owl-carousel owl-theme">
            {% for single_post in posts %}
                {% include ['./partials/tease-'~ section.tease ~'.twig', './partials/tease.twig'] with {'post': single_post, 'grid': grid} %}
            {% endfor %} 
            </div>
        </div>
    </div> 
</div> 

{# :::::::::::::: 01 * GRIT_SET section_archive_carosuel END #}
{% else %}
{# :::::::::::::: 02 * GRIT_SET section_archive #}
{% set grid = 'col col-12 col-sm-6 col-md-4 col-lg-3' %}
<div class="container-fluid">
    <div class="row justify-content-center">  
        <div class="{{ col_classes|join(' ')  | default('col col-12') }} ">
            <div class="row">
                {% for single_post in posts %}
                    {% include ['./partials/tease-'~ tease ~'.twig', './partials/tease.twig'] with {'post': single_post, 'grid': grid} %}
                {% endfor %} 
            </div>
        </div>
    </div> 
</div> 
{# :::::::::::::: 02 * GRIT_SET section_archive END #}
{% endif %} 


