{# section_image #}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2"> 
        {% if section.image %}
            {% set image = {
                'alt': section.image.alt,
                'src': Image(section.image.id).src ,
                'class': 'img-fluid'
                }
            %}
            {% include ['/partials/img.twig'] with image %}
        {% endif %}
        </div>
    </div>
</div>
{# end section_image #}