{# section_gallery #}
{% set image_ids = section.gallery | map(image => image.id) | join(',') %}
<div class="container-fluid ">
    <div class="row">
        <div class="col p-1">
            <div class="section_gallery">
                {{ function('do_shortcode', '[gallery ids="' ~ image_ids ~ '" columns="'~ section.columns ~'" size="' ~ section.size ~ '" ]') }}
            </div>
        </div> 
    </div>
</div> 
{# end section_gallery #}

