{% extends "base.twig" %}

{% block content %}
 
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content my-5">
				<div class="container text-center">
					<div class="row">
						<div class="col-12  my-5 ">
							<h1 class="display-1">Ooooops </h1>
							<h1>Questa pagina non esiste!</h1>
						</div>
						<div class="col-12 pb-5">
							<a href="{{ home }}" class="bh btn-accent btn-lg ">TORNA ALLA HOME</a>
						</div>
					</div>
				</div>
			</section>
		</article> 
{% endblock %}
