{% extends "base.twig" %}
{% block content %}


    <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">

 


    {% for section in sections %}
	    {% if section.pre_content %}
			{% set section = section|merge({'section_index': loop.index}) %} 
			{% include ['/sections/section.twig'] with section %}
	    {% endif %}
	{% endfor %}
 
	{% if content is not empty %}
	    <section class="section_page contained py-3">
	        <div class="container-fluid">
	            <div class="row">
	                <div class="col-12">
	                    {{ content }}
	                </div>
	            </div>
	        </div>
	    </section>
        {% else %}
        <section class="section_page contained py-3">
	        <div class="container-fluid">
	            <div class="row">
	                <div class="col-12">
                        {% filter shortcodes %}
                                [cmplz-document type="cookie-statement" region="eu"]
                            {% endfilter %}
	                </div>
	            </div>
	        </div>
	    </section> 
	{% endif %}

	{% for section in sections %}
	    {% if not section.pre_content %}
			{% set section = section|merge({'section_index': loop.index}) %} 
			{% include ['/sections/section.twig'] with section %}
	    {% endif %}
	{% endfor %} 
    </article>

    <style>
        @import url("{{ home }}/wp-content/plugins/complianz-gdpr/assets/css/document.min.css");
        #cmplz-document {
            max-width: 100%;
            text-justify: inter-word;
        }
    </style>
{% endblock %}


